html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('fonts/ProximaNova-Regular/ProximaNova-Regular/ProximaNova-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/ProximaNova-Regular/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/ProximaNova-Regular/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/ProximaNova-Regular/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/ProximaNova-Regular/ProximaNova-Regular/ProximaNova-Regular.svg#svgProximaNova-Regular') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Light';
    src: url('fonts/ProximaNova-Light/ProximaNova-Light/ProximaNova-Light.eot'); /* IE9 Compat Modes */
    src: url('fonts/ProximaNova-Light/ProximaNova-Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/ProximaNova-Light/ProximaNova-Light/ProximaNova-Light.woff') format('woff'), /* Modern Browsers */
    url('fonts/ProximaNova-Light/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/ProximaNova-Light/ProximaNova-Light/ProximaNova-Light.svg#svgProximaNova-Light') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('fonts/ProximaNova-Semibold/ProximaNova-Semibold/ProximaNova-Semibold.eot'); /* IE9 Compat Modes */
    src: url('fonts/ProximaNova-Semibold/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/ProximaNova-Semibold/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'), /* Modern Browsers */
    url('fonts/ProximaNova-Semibold/ProximaNova-Semibold/ProximaNova-Semibold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/ProximaNova-Semibold/ProximaNova-Semibold/ProximaNova-Semibold.svg#svgProximaNova-Semibold') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Black';
    src: url('fonts/ProximaNova-Black/ProximaNova-Black/ProximaNova-Black.eot'); /* IE9 Compat Modes */
    src: url('fonts/ProximaNova-Black/ProximaNova-Black/ProximaNova-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/ProximaNova-Black/ProximaNova-Black/ProximaNova-Black.woff') format('woff'), /* Modern Browsers */
    url('fonts/ProximaNova-Black/ProximaNova-Black/ProximaNova-Black.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/ProximaNova-Black/ProximaNova-Black/ProximaNova-Black.svg#svgProximaNova-Black') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

               /*header*/

.bgimage{ background-image: url("img/img_header/img_First screen/bgFirstscrin.png");
    background-repeat:no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    min-height: 950px;
}

             /*headertop*/

.headertop{
    height: 43px;
    border-bottom: 1px solid #86888a;
}
.headertop nav{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
.headertop ul{
    margin: 15px 70px 0px 0px;
    float: right;
}
.headertop li{
    display: inline-block;
    margin-left: 28px;
}
.headertop a{
    color: #ffffff;
    font-size: 16px;
    font-family: 'ProximaNova-Regular';
}

              /*headerbottom*/

.headerbottom nav{
    min-height: 193px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    overflow: auto;
}
a.logoheader{
    float: left;
    margin: 18px 0px 0px 68px;
    display: inline-block;
}
.headerbottom ul {
    margin: 47px 0px 0px 80px;
    display: inline-block;
}
.headerbottom li {
    display: inline-block;
    margin-right: 50px;
}
.headerbottom li  {
    color: #ffffff;
    font-size: 20px;
    font-family: 'ProximaNova-Regular';
}
a.phone {
    color: #ffffff;
    font-size: 30px;
    font-family: 'ProximaNova-Regular';
    margin: 35px 69px 0px 0px;
    float: right;
}

           /*header_box*/

.header_box{
    min-height: 698px;
    max-width: 980px;
    margin: 0 auto;
    position: relative;
}

h1{
    font-family: 'ProximaNova-Semibold';
    color: #6dc95a;
    font-size: 53px;
}
.header_box ul{
    margin-top: 30px;
}
.header_box li{
    color: #ffffff;
    list-style: disc ;
    list-style-position: inside;
    font-family: 'ProximaNova-Light';
    font-size: 21px;
    line-height: 43px;
}
.box_header_image{
    position: absolute;
    right: 0;
    bottom: -255px;
}

                /*first_box*/

.box_first{
    min-height: 585px;
    max-width: 980px;
    margin: 0 auto;
    padding-top: 262px;
    overflow: auto;
}
.bg_box_first{
    background-image: url("img/img_main/01.png");
    background-repeat:no-repeat;
    min-height: 48px;
    overflow: auto;
}
h2{
    font-family: 'ProximaNova-Semibold';
    color: #48a136;
    font-size: 35px;
    margin: 23px 0px 0px 53px;
}
.box_first_text{
    max-width: 510px;
    float: left;
}
.box_first_text>p{
    color: #707070;
    font-family: 'ProximaNova-Light';
    font-size: 15px;
    margin: 21px 0px  30px 0px;
    line-height: 26px;
}
.box_first_image{
    float: right;
    margin: 25px 0px 0px 0px;
}

            /*second_box*/

.box_second{
    background-color: #f5f7f9;
    min-height: 335px;
    padding-top: 45px;
    overflow: auto;
}
.box_second_content{
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}
.bg_box_second{
    background-image: url("img/img_main/02.png");
    background-repeat:no-repeat;
    min-height: 48px;
    overflow: auto;
}
.box_second_text>p{
    font-family:'ProximaNova-Semibold';
    font-size: 16px;
    color: #707070;
    margin-top: 14px;
    width: 100%;
}
.box_second_image{
    width: 100%;
    padding-top: 42px;
}
.box_second_image ul{
    max-width: 950px;
    margin:0 auto;
}
.box_second_image li{
    display: inline-block;
    vertical-align: top;
    padding: 0 40px 0 40px;
    max-width: 150px;
    text-align: center;
}
.box_second_image p{
    font-family:'ProximaNova-Light';
    font-size: 15px;
    color: #707070;
    line-height: 27px;
}
.box_second_image img{
    margin-bottom: 4px;
}

        /*third_box*/

.box_third{
    min-height: 2442px;
    max-width: 980px;
    margin: 0 auto;
    padding-top: 74px;
}

.bg_box_third{
    background-image: url("img/img_main/03.png");
    background-repeat:no-repeat;
    min-height: 48px;
    overflow: auto;
}

      /*subbox*/

.subbox h3{
    font-family: 'ProximaNova-Semibold';
    color: #6a6a6a;
    font-size: 25px;
    margin: 0px 0 -3px 0;
}
.subbox_line{
    margin-bottom: 10px;
}
.subbox_content{
    display: -webkit-box;
    display: -webkit-inline-flex; /* Safari */
    display: inline-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 100px;
}
.subbox_text{
    padding-top: 42px;
    max-width: 430px;
    width: 100%;
}
.subbox_text p{
    color: #707070;
    font-family: 'ProximaNova-Light';
    font-size: 15px;
    margin: 1px 0px  26px 0px;
    line-height: 26px;
}

         /*subbox_first*/

.sub_first .subbox_image{
    margin: 104px -155px 0px 0px;
}

        /*revers_first*/

.revers_first .subbox_image{
    margin: 10px 0px 0px -133px;
}

        /*subbox_second*/

.sub_second .subbox_image{
    margin: 50px -50px 0px 0px;
}

       /*revers_second*/

.revers_second .subbox_image{
    margin: 42px 0px 0px 0px;
}

     /*fourth_box*/

.box_fourth{
    background-image: url("img/img_main/bgRezultat.png");
    background-repeat:no-repeat;
    position: relative;
    background-position: 50% 50%;
    background-size: cover;
    min-height: 450px;
    padding-top: 81px;
    overflow: auto;
}
.box_fourth_content{
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}

.bg_box_fourth{
    background-image: url("img/img_main/04.png");
    background-repeat:no-repeat;
    min-height: 48px;
    overflow: auto;
}

.box_fourth_text{
    max-width: 800px;
}

.box_fourth_text p{
    color: #f6f6f6;
    font-family: 'ProximaNova-Light';
    font-size: 15px;
    margin: 21px 0px  8px 0px;
    line-height: 26px;
}

        /*fifth_box*/

.box_fifth{
    min-height: 398px;
    max-width: 980px;
    margin: 0 auto;
    padding-top: 68px;
}

.bg_box_fifth{
    background-image: url("img/img_main/05.png");
    background-repeat:no-repeat;
    min-height: 48px;
    overflow: auto;
}
.box_fifth_content{
    display: -webkit-box;
    display: -webkit-inline-flex; /* Safari */
    display: inline-flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 76px;
}
.box_fifth_text{
    max-width: 650px;
    margin-left: 45px;
}
.box_fifth_text>p{
    color: #707070;
    font-family: 'ProximaNova-Light';
    font-size: 15px;
    line-height: 26px;
}
.box_fifth_name_client>p{
    color: #707070;
    font-family: 'ProximaNova-Semibold';
    font-size: 15px;
    line-height: 26px;
}
.box_fifth_text>p::after{
    content:url("img/img_main/after.png");
    margin-left: 10px; 
}
.box_fifth_text>p::before{
    content: url("img/img_main/befor.png");
    display: inline-block;
    margin-right: 10px;
}

           /*footer*/

.footer_top{
    background-image: url("img/img_footer/BGFooter.png");
    background-repeat:no-repeat;
    position: relative;
    background-position: 50% 50%;
    background-size: cover;
    min-height: 432px;
    padding-top: 50px;
}
.footer_top_box{
    width: 100%;
    max-width: 1324px;
    margin: 0 auto;
}
.footer_top_content {
    display: -webkit-box;
    display: -webkit-inline-flex; /* Safari */
    display: inline-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
}
.footer_top_content p{
    font-family: 'ProximaNova-Regular';
    font-size: 20px;
    margin: 0 0 26px 0;
    color: #d9d9d9;
}
.image_line {
    margin: 0 0 26px 0;
}
.footer_top_content li{
    font-family: 'ProximaNova-Regular';
    font-size: 16px;
    line-height: 40px;
    color: #969696;
}

            /*form*/

.email_phone {
    display: -webkit-box;
    display: -webkit-inline-flex; /* Safari */
    display: inline-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
}
.contact_form {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    max-width: 550px;
    width: 100%;
}
input, textarea{
    background-color: #5d5d5d;
    height: 45px;
    border-radius: 4px;
    border: 1px solid transparent;
    padding-left: 15px;
    font-family: 'ProximaNova-Regular';
    margin: 0;
    font-size: 16px;
    background: rgba(205, 214, 219, 0.3);
}
input:focus, textarea:focus {
    color: #d9d9d9;
    outline: none;
    border: 1px solid #8c8989;
}
input:hover, textarea:hover{
    border: 1px solid #8c8989;
    cursor: pointer;
}
.name input{
    width: 535px;
}
.email input{
    width: 245px;
}
.input_phone input{
    width: 245px;
}
.comments textarea{
    width: 535px;
    height: 100px;
    text-align: start;
    resize: none;
    padding-top: 15px;
}
.submit input{
    border: 2px solid #fcdb04;
    width: 170px;
    height: 46px;
    background: none;
    border-radius: inherit;
    color: #d9d9d9;
    font-size: 18px;
    padding: 0;
}
.submit input:hover {
    background-color: #fcdb04;
    color: #0a0707;
    cursor: pointer;
}
.name, .email_phone, .comments{
    margin-bottom: 26px;
}

               /*footer_bottom*/

.footer_bottom{
    background-color: #000;
    border-top: 1px solid #0a0707;
}
.footer_bottom_box{
    min-height: 47px;
    width: 100%;
    max-width: 1334px;
    margin: 0 auto;
    padding-top: 21px; 
}
.footer_bottom_content{
    display: -webkit-box;
    display: -webkit-inline-flex; /* Safari */
    display: inline-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
}
.copyright>p{
    color: #696969;
    font-family: "Segoe UI Light";
    font-size: 16px;
}
.icon_footer_bottom {
    display: -webkit-box;
    display: -webkit-inline-flex; /* Safari */
    display: inline-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    max-width: 160px;
    width: 100%;
}
a.linkedin{
    background: url(img/img_footer/inFooter.png);
    display: block;
    width: 20px;
    height: 20px;
}
a.linkedin:hover{
    background-position: -20px 0;
}
a.facebok{
    background: url(img/img_footer/fFooter.png);
    display: block;
    width: 10px;
    height: 20px;
}
a.facebok:hover{
    background-position: -10px 0;
}
a.Instagram{
    background-image: url(img/img_footer/IFooter.png);
    display: block;
    width: 21px;
    height: 20px;
}
a.Instagram:hover{
    background-position: -21px 0;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #bebebe;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color: #bebebe;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: #fcdb04;
}
